body {
    margin: 0 auto;
    padding: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}

.main a {
    color: gold;
    font-weight: bold;
}

.main label {
    padding: 0 1em;
    font-size: 1.3em;
}

.cards ol {
    list-style: none;
}

.main ol {
    list-style: none;
    width: 500px;
    float: left;
    background: silver;
}

.main li {
    padding: 10px;
    background: steelblue;
    color: white;
}

.main li.js-dragging {
    background: coral;
}